In [117]:
# Python script to read stock info from csv file

import pandas as pd;
import os;
import psycopg2;

In [118]:
# Connect to RDS

# Retrieve RDS log in info from text file
file = open('../private.txt', 'r');
lines = file.readlines();

for i,l in enumerate(lines):
    if l[-1] == '\n':
        lines[i] = l[0:-1];
        
database_t = lines[2];
user_t = lines[3];
password_t = lines[4];
host_t = lines[5];
port_t = lines[6];

# Try Connection
try:
    db = psycopg2.connect(
        database= database_t,
        user= user_t,
        password= password_t,
        host= host_t,
        port= port_t
    )
except:
    print("ERROR: Unable to connect to the RDS server.")
    

cur = db.cursor()
cur.execute("""SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public'""")

for table in cur.fetchall():
    print(table)

('users',)
('investments',)
('stocks',)
('transactions',)
('prices',)

In [119]:
# Read CSV files

path = '../data/stock_market_dataset/stocks'

files = os.listdir(path)
files = files[0:1]

# TICKER.csv
#     0 Date
#     1 Open
#     2 High
#     3 Low
#     4 Close
#     5 Adj Close
#     6 Volume


for f in files:
    fpath = '../data/stock_market_dataset/stocks/'+ f
    data = pd.read_csv(fpath)
    
    ticker = f[:-4]
    squery = """INSERT INTO stocks (ticker, stock_name) VALUES ('%s', 'name needed');"""%ticker;
    cur.execute(squery);
    db.commit();
    
    for row in data.itertuples(index=False):
        date = row[0]
        opn = str(row[1])
        high = str(row[2])
        low = str(row[3])
        close = str(row[4])
        adj = str(row[5])
        vol = str(row[6])
            
        pquery = """INSERT INTO prices (ticker, date, open, high, low, close, adj_close, volume) VALUES ('%s', '%s', %s, %s, %s, %s, %s, %s);"""%(ticker, date, opn, high, low, close, adj, vol);
        
        cur.execute(pquery);
        db.commit();
    
    print(f, ticker, data)

RIV.csv RIV             Date       Open       High        Low      Close  Adj Close  \
0     2016-01-08  19.162428  19.162428  19.114038  19.114038  11.411459
1     2016-01-11  19.133394  19.230173  19.017258  19.017258  11.353675
2     2016-01-12  19.113070  19.113070  19.103392  19.103392  11.405104
3     2016-01-13  19.103392  19.103392  19.103392  19.103392  11.405104
4     2016-01-14  19.065647  19.385021  18.968868  19.104361  11.405683
5     2016-01-15  19.181784  19.181784  18.937899  18.937899  11.306301
6     2016-01-19  19.267918  20.459278  18.894348  18.894348  11.280302
7     2016-01-20  18.872087  18.876926  18.630138  18.630138  11.122562
8     2016-01-21  18.630138  18.630138  18.630138  18.630138  11.122562
9     2016-01-22  18.930157  18.930157  18.792728  18.792728  11.219632
10    2016-01-25  18.649494  18.649494  18.349476  18.494646  11.041671
11    2016-01-26  18.397865  18.688206  18.397865  18.407545  10.989667
12    2016-01-27  18.410448  18.425932  18.397865  18.407545  10.989667
13    2016-01-28  18.397865  18.424965  18.378510  18.378510  10.972335
14    2016-01-29  18.475290  18.872087  18.436579  18.446257  11.012781
15    2016-02-01  18.397865  18.397865  18.126883  18.175272  10.850995
16    2016-02-02  18.049458  18.088171  17.855898  17.855898  10.660325
17    2016-02-03  17.943001  17.943001  17.613949  17.749441  10.596770
18    2016-02-04  17.613949  17.695244  16.462267  16.637440   9.932880
19    2016-02-05  16.684862  16.917133  16.570662  16.597759   9.909190
20    2016-02-08  16.888100  16.888100  15.349298  15.513824   9.262057
21    2016-02-09  15.426723  15.562214  15.049280  15.426723   9.291203
22    2016-02-10  15.484790  15.900944  15.271874  15.871910   9.559333
23    2016-02-11  15.436400  16.936489  15.412205  15.988046   9.629278
24    2016-02-12  16.087729  16.278385  16.026758  16.065470   9.675908
25    2016-02-16  16.355810  16.416780  15.881588  16.017080   9.646764
26    2016-02-17  16.065470  16.152571  15.467370  15.964819   9.615290
27    2016-02-18  15.920300  16.433233  15.620282  16.397425   9.875836
28    2016-02-19  16.452589  16.684862  16.238707  16.520336   9.949865
29    2016-02-22  16.646149  16.683893  16.317097  16.413877   9.885750
...          ...        ...        ...        ...        ...        ...
1035  2020-02-20  16.820000  16.920000  16.820000  16.920000  16.688396
1036  2020-02-21  16.900000  16.950001  16.900000  16.940001  16.708122
1037  2020-02-24  16.750000  16.750000  16.469999  16.549999  16.323460
1038  2020-02-25  16.580000  16.618999  16.160000  16.219999  15.997976
1039  2020-02-26  16.290001  16.531000  16.250000  16.260000  16.037430
1040  2020-02-27  16.120001  16.120001  15.300000  15.660000  15.445642
1041  2020-02-28  15.410000  15.620000  14.810000  15.300000  15.090570
1042  2020-03-02  15.340000  16.240000  15.340000  15.840000  15.623178
1043  2020-03-03  15.840000  16.570000  15.840000  15.922000  15.704057
1044  2020-03-04  16.000000  16.400000  16.000000  16.350000  16.126198
1045  2020-03-05  16.230000  16.270000  15.940000  16.080000  15.859894
1046  2020-03-06  15.960000  16.025000  15.742000  15.890000  15.672495
1047  2020-03-09  15.100000  15.250000  14.834000  14.930000  14.725636
1048  2020-03-10  15.100000  15.290000  14.800000  14.890000  14.686183
1049  2020-03-11  14.550000  14.850000  14.160000  14.160000  13.966175
1050  2020-03-12  13.330000  13.330000  10.330000  12.620000  12.447255
1051  2020-03-13  12.930000  13.320000  12.810000  13.150000  12.969999
1052  2020-03-16  12.150000  12.250000  11.230000  11.350000  11.350000
1053  2020-03-17  11.400000  11.710000  11.050000  11.410000  11.410000
1054  2020-03-18  10.600000  10.997000   9.010000   9.640000   9.640000
1055  2020-03-19   9.260000  10.930000   8.650000  10.920000  10.920000
1056  2020-03-20  11.000000  11.300000  10.650000  11.160000  11.160000
1057  2020-03-23  10.880000  10.880000   8.900000   9.570000   9.570000
1058  2020-03-24  10.010000  10.550000   9.950000  10.470000  10.470000
1059  2020-03-25  10.520000  11.680000  10.520000  11.640000  11.640000
1060  2020-03-26  11.800000  12.932000  11.720000  12.470000  12.470000
1061  2020-03-27  12.270000  12.310000  11.950000  12.060000  12.060000
1062  2020-03-30  12.000000  12.150000  11.943000  12.150000  12.150000
1063  2020-03-31  12.460000  12.560000  12.240000  12.420000  12.420000
1064  2020-04-01  12.120000  12.240000  11.550000  11.720000  11.720000

      Volume
0      10300
1      49600
2       2300
3          0
4      26100
5       7200
6       9800
7      32900
8        600
9       1700
10     16200
11      7700
12      8600
13     14000
14     10800
15    147900
16     40800
17     16600
18     43700
19     20300
20     70200
21     47300
22     32900
23     75500
24     24400
25     16000
26     33600
27     25400
28     15300
29     37900
...      ...
1035   48500
1036   52600
1037  132700
1038  118600
1039   68600
1040  208400
1041  197300
1042  149800
1043   94800
1044   42800
1045   97100
1046   56700
1047  135900
1048   83800
1049   64000
1050  164100
1051   87300
1052  106900
1053  101900
1054  385200
1055  264600
1056  379600
1057  281200
1058  243700
1059  101200
1060  114400
1061  107000
1062   88000
1063   87300
1064  111000

[1065 rows x 7 columns]